body {
    background-color: black;
    font-family: 'Rakkas', cursive;
    color: #ffffff;
}

/* ------------------------Start Nav Bar------------------------ */

.navbar {
    background-color: black;
    padding: 0;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: goldenrod;
}

.nav-link {
    color: #b3b3b3;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 5px;
    align-items: center;
    letter-spacing: 3px;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #ffffff;
    text-decoration: underline;
}

.navbar-toggler-icon {
    color: #ffffff;
    font-size: 1.3rem;
}
/* ------------------------End Nav Bar------------------------ */

/* ------------------------Start Buttons------------------------ */
.btn {
    display:block;
    justify-content: center;
}

#quiz-btn {
    font-size: 1.1rem;
    padding: 1.2rem 0;
    width: 15rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    background: goldenrod;
    display: block;
}

#leaderboard-btn {
    font-size: 1.1rem;
    padding: 1.2rem 0;
    width: 15rem;
    text-align: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
    text-decoration: none;
    color: black;
    background: goldenrod;
    display: block;
}

#save-btn {
        font-size: 1.1rem;
        padding: 1.2rem 0;
        width: 15rem;
        text-align: center;
        margin-bottom: 1rem;
        margin-top: 1rem;
        text-decoration: none;
        color: black;
        background: goldenrod;
        display: block;
}

/* ------------------------End Buttons------------------------ */

/* ------------------------Start Answer Container CSS------------------------ */

.answer-container {

    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 3px;
    background-color: goldenrod;
    font-size: 2rem;
    min-width: 80rem;
}

.answer-container:hover {
    cursor: pointer;
    -webkit-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
    transform: transform 100ms;
}

.answer-prefix {
    font-family: 'Rakkas', cursive;
    padding: 1rem 1.5rem;
    margin: 0;
    font-size: 2rem;
    color: black;
}

.answer-text {
    font-family: 'Rakkas', cursive;
    padding: 1.2rem;
    font-size: 1.5rem;
    margin: 0;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .answer-prefix {
        font-family: 'Rakkas', cursive;
        font-size: 1.5rem;
        margin: 0;
        text-align: left;
        padding: 1.2rem;
   }
}   

@media only screen and (max-width: 768px) {
    .answer-text {
        font-family: 'Rakkas', cursive;
        font-size: 1.2rem;
        margin: 0;
        text-align: left;
        padding: 1.5rem;
   }
}   

.correct {
    background-color: #228B22;
}

.incorrect {
    background-color: #8B0000;
}

/* ------------------------End Answer Container CSS------------------------ */

/* ------------------------Start Quiz Box CSS------------------------ */
#progress-text {
    float: left;
    color: goldenrod;
    font-size: 2rem;
}

.quiz-score {
    float: right;
    color: goldenrod;
    font-size: 2rem;
}


/* ------------------------Start End Page CSS------------------------ */


input {
    margin-bottom: 1rem;
    margin-top: 2rem;
    width: 20rem;
    padding: 1rem;
    font-size: 1.5rem;
    font-family: 'Rakkas', sans-serif;
    border-radius: 3px;
    border: none;
}

/* ------------------------End Quiz Box CSS------------------------ */